


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*App.js Style*/
.App {
  text-align: center;
  background-color: #014a74;
  height: inherit;
  width: 500px;
  margin: auto;
  color: rgb(9, 240, 40);
  border-radius: 6px;
  border: solid 2px ;
  box-shadow:  #014a74;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.87);
}
/*input and btn*/
.ToDoForm{
  
  
}
.todo_input{

}
.todo_btn{
  background-color: #011724;
  color: blanchedalmond;
  border: none;
}
p{
  color:aliceblue
}